<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lyh.guanbei">
    <!-- Required -->
    <permission
        android:name="com.lyh.guanbei.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" /> <!-- Required -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="com.lyh.guanbei.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".common.GuanBeiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.BudgetActivity"></activity>
        <activity android:name=".ui.activity.RecordListActivity1" />
        <activity android:name=".ui.activity.DateChooseActivity" />
        <activity android:name=".ui.activity.NotificationListActivity" />
        <activity android:name=".ui.activity.NoDisturbActivity" />
        <activity android:name=".ui.activity.UserNameEditActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.activity.MeEditActivity" />
        <activity android:name=".ui.activity.VerifyLockerActivity" />
        <activity android:name=".ui.activity.UnlockActivity" />
        <activity android:name=".ui.activity.PatternLockerActivity" />
        <activity
            android:name=".ui.activity.InputActivity"
            android:launchMode="singleInstance"
            android:theme="@style/CustomActivityFloating" />
        <activity android:name=".ui.activity.ModelDetailActivity" />
        <activity android:name=".ui.activity.ModelActivity" />
        <activity android:name=".ui.activity.RecordListActivity" />
        <activity android:name=".ui.activity.AddByExcelActivity" />
        <activity android:name=".ui.activity.FilterActivity" />
        <activity android:name=".ui.activity.RecordDetailActivity" />
        <activity android:name=".ui.activity.BookDetailAddUserActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.AddUserActivity" />
        <activity android:name=".ui.activity.MemberActivity" />
        <activity android:name=".ui.activity.BookDetailActivity" />
        <activity android:name=".ui.activity.AddBookActivity" />
        <activity android:name=".ui.activity.IndexActivity" />
        <activity android:name=".ui.activity.AddBySMSActivity" />
        <activity
            android:name=".ui.activity.ChangeBookActivity"
            android:theme="@style/CustomActivityDialog" />
        <activity android:name=".ui.activity.AddByMyselfActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".jpush.PushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.lyh.guanbei" />
            </intent-filter>
        </receiver>

        <service
            android:name=".jpush.PushCommonService"
            android:enabled="true"
            android:exported="true"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <service
            android:name=".common.NetRestartService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".manager.CustomNotificationManager$NotificationService"
            android:enabled="true"
            android:exported="false"
            android:process=":input" />
    </application>

</manifest>